@import 'styles/mixins';
@import 'styles/variables';

.homepage {
	color: $text-primary-color;
	&__search-container {
		position: relative;
		background-color: #000000;
		background-image: url('./bg.jpg');
		background-size: 100%;
		background-repeat: no-repeat;
		margin-left: calc(((100vw - 1152px) / 2) * -1);
		margin-top: -32px;
		width: 100vw;
		height: 40vh;
		min-height: 380px;
		box-sizing: content-box;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 2rem;

		&--overlay {
			position: absolute;
			inset: 0;
			background-color: rgba($color: #000000, $alpha: 0.5);
		}

		&__search-bar {
			width: 100%;
			max-width: 600px;
			z-index: 1;
		}

		&__text {
			color: white;
			font-size: 2rem;
			z-index: 1;
		}
	}

	&__cards-container {
		margin-top: 4rem;
		padding: 2rem 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		gap: 4rem;

		&__card-btn {
			background-color: transparent;
			border: 1px solid $primary-color;
			color: $primary-color;
			font-size: 1.1rem;
			padding: 0.5rem 1rem;
			border-radius: 5px;
			cursor: pointer;
			@include transition(all, 0.3s);
			&:hover {
				background-color: $primary-color;
				color: white;
			}
		}

		&__card {
			@include transition(transform, 0.3s);
			width: 380px;
			cursor: pointer;
			box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px;
			&:hover {
				transform: scale(1.05);
				button {
					background-color: $primary-color;
					color: white;
				}
			}
		}

		&__card-content {
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: #faf9f6;
			gap: 1rem;
		}
	}
}
