// values taken from Mui default palette since rest of the application is using Mui

$primary-color: #1976d2;
$secondary-color: #dc004e;
$error-color: #f44336;
$warning-color: #ff9800;
$info-color: #2196f3;
$success-color: #4caf50;

$text-primary-color: rgba(0, 0, 0, 0.87);
$text-secondary-color: rgba(0, 0, 0, 0.54);
$text-disabled-color: rgba(0, 0, 0, 0.38);
$text-hint-color: rgba(0, 0, 0, 0.38);
